body{
			margin: 0px;
		}
		#log-principal{
			max-width: 8%;  		 
		}
		#backgraund-principal {
			background: url("images/asperger2.PNG") no-repeat center bottom;
			background-size: cover;
			background-attachment: fixed;
			height: 560px;
			position: relative;
			top: -80px;
			width: 100%;
		}
		.log-redes{
			max-width: 5%;	
		}
		.noticia {
			display: inline-block;
			margin: 0px 2% 80px 2%;
			text-align: center;
			width: 45%;
		}

		.noticia img {
			width: 70%;			
		}
		#footer{		
			background-color: #2E2E2E;
			height: 70px;
			padding-left: 20px;
			margin-top: 20px;
			margin-bottom: 0px
		}
		#footer-1{
			text-align: left;
			color: white;
			padding: 15px;
		}	
		.log_redes{
			margin-top: 8px;
			margin-left: 80px;
			max-width: 50px;
			
		}
		span{
			color: white;
			margin: 5px;
		}